@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100vw;
  height: 100vh;
  background-color: #f9f3ef;
}

/* scrollbar-width: none; */
::-webkit-scrollbar {
  height: 10px;
  width: 8px;
  background: #f4f4f4;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background: #a8a8a8;
}
